.section {
  margin-top: 60px;
  background-color: teal;

  border-radius: 5px;
}

.section > h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}

.statList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  margin: 0 0 60px 0px;
}

.label {
  margin-bottom: 10px;
}

.item {
  border: 3px black solid;
  padding: 10px;
  color: black;
}
